<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"
      ><img src="../../../assets/logo_changeonair.jpg" alt="logo"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="true"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['']"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/about']">About</a>
        </li>
      </ul>
      <ul class="navbar-nav me-0 mb-2 mb-lg-0">
        <li class="nav-item">
          <button
            *ngIf="authSvc.loggedIn; else loginButton"
            (click)="logout()"
            class="btn btn-outline-danger me-3"
            [routerLink]="['/']"
          >
            Logout
          </button>
        </li>
        <ng-template #loginButton>
          <li class="nav-item">
            <button
              class="btn btn-outline-success me-3"
              [routerLink]="['/login']"
            >
              Login
            </button>
          </li>
        </ng-template>
        <li class="nav-item">
          <button
            *ngIf="!authSvc.loggedIn"
            class="btn btn-outline-dark me-3 bottone"
            [routerLink]="['/register']"
          >
            Registrati
          </button>
        </li>
        <li class="nav-item">
          <a
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="39"
              height="39"
              fill="currentColor"
              class="bi bi-person-circle bottone"
              viewBox="0 0 16 16"
              [routerLink]="['/profile']"
            >
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
              <path
                fill-rule="evenodd"
                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
              />
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
