<h1>Ciao {{ userData.name }}</h1>

<h2>Vuoi caricare un video?</h2>
<button class="btn btn-outline-dark" [routerLink]="'/upload'">
  Clicca qui
</button>

<div class="grid">
  <div class="video" *ngFor="let video of videos">
    <p>
      <strong>{{ video.nome }}</strong>
    </p>
    <a [routerLink]="['/detail', video.id]"
      ><video [src]="video.url"></video
    ></a>
    <button (click)="deleteVideo(video.id!)" class="btn btn-outline-danger">
      Cancella video
    </button>
  </div>
</div>
