<div class="container">
  <form #f="ngForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="file">Carica video</label>
      <input
        class="form-control"
        type="file"
        id="file"
        (change)="onFileSelected($event)"
        accept="video/*"
        required
      />
    </div>
    <div class="mb-3">
      <label for="nome">Nome</label>
      <input
        class="form-control"
        type="text"
        id="nome"
        [(ngModel)]="video.nome"
        name="nome"
        required
      />
    </div>
    <div class="mb-3">
      <label for="descrizione">Descrizione</label>
      <textarea
        class="form-control"
        id="descrizione"
        [(ngModel)]="video.descrizione"
        name="descrizione"
        rows="4"
      ></textarea>
    </div>
    <div class="mb-3">
      <label for="organizzazione">Organizzazione</label>
      <input
        class="form-control"
        type="text"
        id="organizzazione"
        [(ngModel)]="video.organizzazione"
        name="organizzazione"
        required
      />
    </div>
    <div class="d-grid gap-2"></div>
    <button class="btn btn-dark" type="submit">Carica</button>
  </form>
</div>
<div class="alert alert-danger my-3" role="alert" *ngIf="error">
  {{ error }}
</div>
