<h1>Termini e condizioni d'uso</h1>
<p>Data: 15/09/2023</p>
<h2>Ti diamo il benvenuto su Changeonair</h2>
<p><strong>Introduzione</strong></p>
<p>
  Ti ringraziamo per aver scelto di utilizzare la nostra piattaforma,
  successivamente denominata "Servizio".
</p>
<p><strong>Il nostro servizio</strong></p>
<p>
  Il Servizio ti consente di scoprire, guardare e condividere video e altri
  contenuti, mette a disposizione un luogo in cui le persone entrano in contatto
  e costituisce una piattaforma di distribuzione dei contenuti originali di
  creator e inserzionisti, grandi e piccoli.
</p>
<p><strong>Fornitore del servizio</strong></p>
<p>
  Il soggetto che fornisce il Servizio nello spazio economico europeo è
  l'associazione di promozione sociale Changeonair, regolarmente costituita
  secondo le leggi italiane, con sede legale in Andria (BT) via Podgora 3.
</p>
<p><strong>Termini vigenti</strong></p>
<p>
  L'utilizzo del Servizio da parte tua è soggetto ai presenti termini e
  condizioni d'uso. Ti invitiamo a leggere attentamente il presente Contratto e
  ad assicurarti di averlo compreso. Se non comprendi o non accetti in toto il
  Contratto, non avrai l'autorizzazione a utilizzare il Servizio.
</p>

<h2>Chi può utilizzare il Servizio?</h2>
<p><strong>Requisiti di età</strong></p>
<p>
  Puoi utilizzare il Servizio se hai almeno 14 anni; i bambini di tutte le età
  possono utilizzare il Servizio previa autorizzazione di un genitore o un
  tutore legale.
</p>
<p><strong>Autorizzazione da parte di un genitore o tutore</strong></p>
<p>
  Se hai meno di 18 anni, ti occorre l'autorizzazione di un genitore o di un
  tutore legale per utilizzare il Servizio. Invitalo a leggere il presente
  Contratto insieme a te. Il genitore o tutore legale di un utente di età
  inferiore a 18 anni, fornendo al minore l'autorizzazione a utilizzare il
  Servizio, è soggetto ai termini del presente Contratto e responsabile delle
  attività compiute dal minore sul Servizio.
</p>
<p><strong>Aziende</strong></p>
<p>
  Se utilizzi il Servizio per conto di una società o un'organizzazione, confermi
  di possedere l'autorità ad agire per conto di tale soggetto, il quale accetta
  il presente Contratto.
</p>

<h2>Utilizzo del Servizio</h2>
<p><strong>Contenuti del Servizio</strong></p>
<p>
  I contenuti del Servizio includono video, audio (ad esempio musica e altri
  tipi di audio), grafiche, foto, testi (ad esempio commenti e copioni),
  branding (inclusi nomi commerciali, marchi, marchi di servizio o loghi),
  funzionalità interattive, software, metriche e altri materiali
  (collettivamente denominati "Contenuti"). I Contenuti possono essere forniti
  al Servizio e distribuiti dai nostri utenti e Changeonair costituisce il
  fornitore di servizi di hosting per tali Contenuti. La responsabilità per i
  Contenuti ricade sulla persona o sull'entità che li fornisce. Se ti imbatti in
  Contenuti che ritieni non siano conformi ai presenti termini, ad esempio
  perché violano le Norme della community, ti invitiamo a segnalarceli.
</p>
<p><strong>Account Changeonair</strong></p>
<p>
  È possibile utilizzare parti del Servizio, come la navigazione e la ricerca di
  Contenuti, senza disporre di un Account Changeonair. Tuttavia, per utilizzare
  alcune funzionalità è necessario avere un Account Changeonair. Con un Account
  Changeonair è possibile mettere Mi piace ai video, commentarli, caricare i
  propri Contenuti e molto altro. Per proteggere il proprio Account Changeonair,
  è necessario mantenere la password riservata.
</p>
<p><strong>Diritti di accesso e restrizioni</strong></p>
<p>
  Puoi accedere al Servizio e utilizzarlo nella misura in cui viene messo a tua
  disposizione, purché ciò avvenga nel rispetto del presente Contratto e delle
  disposizioni di legge. Puoi visualizzare o ascoltare i Contenuti a scopo
  personale e non commerciale, nonché mostrare video di Changeonair tramite il
  player integrabile di Changeonair.
</p>
<p>
  L’utilizzo del Servizio è soggetto alle seguenti restrizioni. Non è
  consentito:
</p>
<ol>
  <li>
    Accedere a, riprodurre, scaricare, distribuire, trasmettere, mostrare,
    vendere, concedere in licenza, alterare, modificare o utilizzare alcuna
    parte del Servizio o dei Contenuti, tranne (a) secondo le modalità
    specifiche consentite dal Servizio; (b) previa autorizzazione scritta da
    parte di Changeonair e, se presenti, dei rispettivi proprietari dei diritti;
    o (c) nei modi consentiti dalla legge vigente.
  </li>
  <li>
    Aggirare, disattivare, utilizzare in modo fraudolento o ostacolare
    altrimenti il Servizio (o tentare di intraprendere tali azioni), comprese le
    funzionalità di sicurezza o le funzionalità che (a) impediscono o limitano
    la copia o il diverso utilizzo dei Contenuti; o (b) impongono limitazioni
    all'utilizzo del Servizio o dei Contenuti.
  </li>
  <li>
    Accedere al Servizio utilizzando mezzi automatizzati (quali robot, botnet o
    strumenti di scraping), tranne (a) nel caso dei motori di ricerca pubblici;
    (b) previa autorizzazione scritta da parte di YouTube; o (c) nei modi
    consentiti dalla legge vigente.
  </li>
  <li>
    Raccogliere o utilizzare informazioni che potrebbero identificare un
    individuo (ad esempio raccogliere i nomi utente o le immagini del volto),
    salvo nei casi in cui tale individuo abbia fornito la propria autorizzazione
    e i casi elencati in precedenza alla sezione 3.
  </li>
  <li>
    Utilizzare il Servizio per distribuire contenuti promozionali o commerciali
    indesiderati o per inviare richieste indesiderate o di massa (spam).
  </li>
  <li>
    Causare o incoraggiare misurazioni inaccurate del coinvolgimento autentico
    degli utenti con il Servizio, ad esempio pagare o fornire incentivi a
    individui per incrementare le visualizzazioni, i Mi piace di un video oppure
    per manipolare altrimenti le metriche.
  </li>
  <li>
    Utilizzare in modo improprio qualsiasi procedura di segnalazione,
    contestazione o ricorso, ad esempio inviando contenuti infondati, vessatori
    o futili.
  </li>
  <li>
    Utilizzare il Servizio per visualizzare o ascoltare i Contenuti per scopi
    diversi da quelli personali e non commerciali (ad esempio, non è consentito
    proiettare i video o trasmettere musica in streaming pubblicamente dal
    Servizio).
  </li>
</ol>
<p><strong>Riserva</strong></p>
<p>
  Qualsiasi diritto che non venga concesso espressamente dal presente Contratto
  rimane un diritto di Changeonair o dei rispettivi proprietari dei diritti. Ciò
  significa, ad esempio, che utilizzare il Servizio non ti conferisce la
  titolarità di qualsiasi diritto di proprietà intellettuale sui Contenuti a cui
  hai accesso (inclusi eventuali brand utilizzati o mostrati all'interno del
  Servizio).
</p>
<h2>Contenuti e comportamento</h2>
<p><strong>Caricare contenuti</strong></p>
<p>
  Se possiedi un account Changeonair, puoi caricare Contenuti sul Servizio. Puoi
  utilizzare i Contenuti per promuovere la tua attività commerciale o artistica.
  Se scegli di caricare Contenuti, non hai l’autorizzazione a pubblicare sul
  Servizio Contenuti che non rispettano il presente Contratto o la legge. Ad
  esempio, i Contenuti pubblicati non devono includere proprietà intellettuale
  di terze parti (ad esempio, materiale protetto da copyright) a meno che tu non
  disponga dell'autorizzazione della terza parte o di un altro tipo di
  autorizzazione legale (anche per mezzo di qualsiasi eccezione o limitazione
  disponibile al diritto d'autore o ai diritti connessi previsti dal diritto
  dell'Unione europea). La responsabilità legale dei Contenuti che pubblichi sul
  Servizio ricade su di te. Potremmo utilizzare sistemi automatizzati per
  analizzare i Contenuti e rilevare violazioni e comportamenti illeciti, come
  spam, malware e contenuti illegali.
</p>
<p><strong>Diritti che concedi</strong></p>
<p>
  Tutti i diritti di proprietà dei tuoi Contenuti spettano a te. In breve, ciò
  che ti appartiene resta di tua proprietà. Tuttavia, richiediamo comunque che
  tu conceda determinati diritti a Changeonair e ad altri utenti del Servizio
  secondo le modalità descritte di seguito.
</p>
<p><strong>Concedere la licenza a Changeonair</strong></p>
<p>
  Nel momento in cui fornisci Contenuti al Servizio, concedi a Changeonair una
  licenza globale, non esclusiva, esente da royalty, trasferibile e cedibile in
  licenza per l'utilizzo di tali Contenuti (incluse la riproduzione,
  distribuzione, modifica, pubblicazione ed esecuzione degli stessi) ai fini del
  funzionamento, della promozione o del miglioramento del Servizio.
</p>
<p><strong>Concedere la licenza ad altri utenti</strong></p>
<p>
  Concedi inoltre a ciascun altro utente del Servizio una licenza globale, non
  esclusiva ed esente da royalty per l'accesso ai tuoi Contenuti tramite il
  Servizio e per l'utilizzo di tali Contenuti (incluse la riproduzione,
  distribuzione, modifica, pubblicazione ed esecuzione degli stessi)
  esclusivamente nella misura in cui ciò è permesso da una funzionalità del
  Servizio.
</p>
<p><strong>Durata della licenza</strong></p>
<p>
  Le licenze che concedi sono valide fino al momento in cui i Contenuti vengono
  rimossi secondo le modalità descritte di seguito. Una volta rimossi i
  Contenuti, la licenza terminerà, tranne quando diversamente richiesto dalla
  gestione del Servizio, dall'utilizzo dei Contenuti consentito prima della
  rimozione o dalla legge. Ad esempio, se rimuovi dei Contenuti, Changeonair non
  è tenuta a (a) ritirare i Contenuti utilizzati da altri utenti all'interno di
  una qualsiasi funzionalità limitata di visualizzazione offline; o (b)
  eliminare le copie che dobbiamo ragionevolmente conservare per ragioni legali.
</p>
<p><strong>Rimozione dei contenuti da parte tua</strong></p>
<p>
  Puoi rimuovere i Contenuti dal Servizio in qualsiasi momento. Hai inoltre la
  possibilità di fare una copia dei tuoi Contenuti prima di rimuoverli.
  Assicurati di rimuovere i tuoi Contenuti se non possiedi più i diritti
  richiesti ai sensi di questi termini.
</p>
<p><strong>Rimozione dei contenuti da parte di Changeonair</strong></p>
<p>
  Se abbiamo ragione di credere che uno o più dei tuoi Contenuti (1) violino il
  presente Contratto o (2) potrebbero arrecare danno a Changeonair ai nostri
  utenti o a terze parti, ci riserviamo il diritto di rimuovere tali Contenuti
  in toto o in parte. Ti informeremo del motivo della nostra azione, a meno che
  non abbiamo ragione di ritenere che questa comunicazione: (a) possa violare la
  legge o le direttive di un'autorità responsabile dell'applicazione della legge
  o possa altrimenti comportare il rischio di responsabilità legali a carico di
  Changeonair; (b) possa compromettere un'indagine o l'integrità o il
  funzionamento del Servizio; o (c) possa arrecare danno a un utente, ad altre
  terze parti, o a Changeonair.
</p>
<h2>Monetizzazione</h2>
<p>
  Nel caso in cui i tuoi Contenuti diventino monetizzabili tramite pubblicità,
  ti impegni a devolvere le eventuali revenue pubblicitarie all'organizzazione
  scelta in fase di caricamento del Contenuto.
</p>
