video {
  width: 300px;
  height: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // justify-content: space-around;

  a {
    flex: 0 0 30%;
    margin: 0;
  }

  p {
    margin-bottom: 3px;
  }
}

.video {
  margin-bottom: 50px;
  margin-right: 60px;
}

h1 {
  margin-bottom: 50px;
}
