<video [src]="video.url" controls (play)="incrementaVisualizzazioni()"></video>
<h3>{{ video.nome }}</h3>
<p>
  <strong>{{ video.username }}</strong>
</p>

<p>
  Organizzazione sostenuta: <strong>{{ video.organizzazione }}</strong>
</p>
<div class="descrizione">
  <p>
    {{ video.visualizzazioni }} visualizzazioni -
    {{ video.dataCaricamento | date : "shortDate" }}
  </p>
  <p>{{ video.descrizione }}</p>
</div>
<p>
  <button class="btn btn-outline-dark" (click)="addLike()">Like</button>
  {{ video.likeCount }}
</p>

<h4>{{ commenti.length }} Commenti</h4>
<form #f="ngForm" (ngSubmit)="creaCommento()">
  <div class="mb-3">
    <input
      type="text"
      [(ngModel)]="commento.testo"
      class="form-control"
      id="commento"
      name="commento"
      placeholder="Inserisci il tuo commento..."
      required
    />
  </div>
  <div class="d-grid gap-2">
    <button class="btn btn-dark" type="submit">Commenta</button>
  </div>
</form>
<div class="mt-3" *ngFor="let commento of commenti">
  <p>
    <strong>{{ getNomeUtente(commento.utente!.id!) }}</strong> -
    {{ commento.testo }}
  </p>
</div>
