<h1>{{ video.nome }}</h1>
<video [src]="video.url" controls (play)="incrementaVisualizzazioni()"></video>
<p>Visualizzazioni: {{ video.visualizzazioni }}</p>
<p>
  <button class="btn btn-outline-danger" (click)="addLike()">Like</button>:
  {{ video.likeCount }}
</p>
<p>Organizzazione: {{ video.organizzazione }}</p>
<p>Data: {{ video.dataCaricamento | date : "shortDate" }}</p>
<p>Descrizione: {{ video.descrizione }}</p>
<p>Utente: {{ video.username }}</p>
<h2>Commenti</h2>
<form #f="ngForm" (ngSubmit)="creaCommento()">
  <div class="mb-3">
    <input
      type="text"
      [(ngModel)]="commento.testo"
      class="form-control"
      id="commento"
      name="commento"
      placeholder="Inserisci il tuo commento..."
      required
    />
  </div>
  <div class="d-grid gap-2">
    <button class="btn btn-primary" type="submit">Commenta</button>
  </div>
</form>
<div *ngFor="let commento of commenti">
  <p>{{ commento.testo }} - {{ getNomeUtente(commento.utente!.id!) }}</p>
</div>
